@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

:root{
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; 
    --fonte2: 'Passion One', cursive;
    --fonte3: 'Sriracha', cursive;
}
*{
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}
html, body{
    min-height: 100vh;
    background-color: darkgray;
    font-family: var(--fonte1);
}
header{
    background-color: black;
    color: white;
    text-align: center;
}
header > h1{
    padding-top: 50px;
    font-variant: small-caps; /* Note que todas as letras são maiúsculas, sendo que as inicias são maiores, destacadas, mas sem chamar tanta atenção. Poderíamos também usar o text-transform: uppercase;, porém todas as letras seriam maiúsculas e maiores, de forma mais gritante. */
    font-family: var(--fonte2);
    font-size: 8vw; /* Ajusta o tamanho da letra para 8% da largura. Se a largura muda o tamanho da letra muda, proporcionalmente. Esta é uma alternativa ao media query. */
}
header > p{
    padding-bottom: 50px;
}
header a, footer a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
header a:hover, footer a:hover{
    text-decoration: underline;
}
section{
    padding-top: 10vh;
    padding-bottom: 10vh; /* Perceba o espaço que fica na parte de cima e de baixo do texto em cada section. */
    padding-left: 30px;
    line-height: 2em; /* Aumenta o espaçamento entre as linhas em 2 vezes. */
    font-family: var(--fonte3);
    font-size: 3vw;
}
section > p{
    padding-bottom: 2em;
}
section.normal{
    background-color: white;
    color: black;
}
section.imagem{
    background-color: rgb(54, 54, 54);
    color: white;
    box-shadow: inset 6px 6px 14px 0px rgba(0, 0, 0, 0.486);
    background-size: cover;
    background-attachment: fixed;
}
section.imagem > p{
    display: inline-block;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.5);
    text-shadow: 1px 1px 0px black;
}
section#img01{
    background-image: url('../imagens/background001.jpg');
    background-position: right center;
}
section#img02{
    background-image: url('../imagens/background002.jpg');
    background-size: cover;
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
}